{% extends 'contacts/base.html' %}

{% block content %}
     <div class="post">
         <a class="btn btn-warning" href="{% url 'contact_edit' pk=contact.pk %}"><span class="glyphicon glyphicon-pencil"></span></a>
         <a class="btn btn-danger" href="{% url 'contact_delete' pk=contact.pk %}"><span class="glyphicon glyphicon-trash"></span></a>
         <h1>{{ contact.first_name }}</h1>
{#         <img src="{{ contact.photo.url }}" class="img-responsive" alt="..." >#}
         <p>{{ contact.cell|linebreaksbr }}</p>
         <p>{{ contact.phone|linebreaksbr }}</p>
         <p>{{ contact.email|linebreaksbr }}</p>
     </div>
{% endblock %}